
h1 {
	left: 20px;
}

.imagewrapper {
	float: right;
}

li {
	list-style:none;
}

.nav {
	float: left;
}

.imagewrapper, .nav {
	width: 40%;
}

body {
	background-color: blue;
	}

h1 {
	font-family: Pacifico;
	font-size: 48px;
	color: white;
	}

ul {
		font-family: Pacifico;
		foct-size: 30px;
		color: white;
	}

@media only screen and (min-width: 480px) {
	.nav li {
		display: inline;
	}

	.imagewrapper {
		float: none;
		margin: 0 auto;

	}

	.nav {
		text-align: left;
	}
}
@media only screen and (min-width: 768px) {
	.nav li {
		display: inline;
	}

	.imagewrapper, .nav {
		float: left;
		margin: 0 auto;

	}

	.nav {
		text-align: left;
	}
}

@media only screen and (min-width: 992px) {
	.nav {
		display: inline-block;

	}

	img {
		display: block;
	}

	.imagewrapper {
	  margin-top: 120px;
		width: 100%;
	}

img:first-child {
	display: block;
	margin: 0 auto;
}

img:nth-child(2) {
	display: block;
	margin: 0 auto;
}

img:nth-child(3) {
	display:block;
	margin: 0 auto;
	}
}
